
.banned{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 0;
    margin: 0 3px;
    transition: all 0.3s ease-in-out;
    width: 32.5%;
	height: 20.5%;
	opacity: 0.7;
}


.gallery-icon {
    height: 20vw;
    width: 100%;
    display: block;
    background-size: cover;

}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 0;
    margin: 0 3px;
    transition: all 0.3s ease-in-out;
    background-color: #2b2b2b;
    width: 32.5%;
	height: 20.5%;
}

.gallery-item:hover {
    opacity: .8;
}

.caption .date {
    font-size: 12px;
    color: #b2b2b2;
}

.guid {
    font-size: 12px;
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

.caption {
    border-bottom: 5px solid #1ef;
    text-align: center;
    color: white;
    max-width: 100%;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    font-family: Roboto;
}
  
.top {
    margin-right: 10px;
    text-align: center;
}
 
@media only screen and (max-width: 980px) {
 

    .gallery-item {
        width: 49.5%;
        margin: 0 1px;
    }
	
	.banned{
        width: 49.5%;
        margin: 0 1px;
    }
	

    .gallery-icon {

        height: 30vw;
    }
 
}

@media only screen and (max-width: 640px) {
    body {
        padding-top: 40px;
    }

    .gallery-item {
        width: 100%;
        margin: 0;
    }
	
    .banned {
        width: 100%;
        margin: 0;
    }

    .gallery-icon {

        height: 60vw;
    }

}